body {
    font-family: Arial, sans-serif;
    background: #eef2ff;
    margin: 0;
}

.team {
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.card {
    flex: 1;
    padding: 30px;
    margin: 10px;
    border: 2px solid #64748b;
    border-radius: 15px;
    box-shadow: 0 5px 15px #999;
    background: white;
}

.card:first-child {
    background: #dbeafe;
    border: 3px solid #2563eb;
}

@media (max-width: 600px) {
    .cards {
        flex-direction: column;
    }
}
